html{ 
    height: 100%;
}

body{
    background-color: #e8bd6f;
    box-sizing: border-box;

}
h1{ background-color: #f44424;
    border: 9px ridge #800206;
    height: 50px;
    width: 800px;

}
nav{
    background-color: #ffff87;
    border: 9px inset #f44424;
    height: 40px;
    width: 525px;
    margin: 0 0 0 9em;

}
main{
}
article img{
    float: left;
    width :100%;
    max-width: 300px;
}
article{
    background-color: #800206;
    border: 9px ridge #f44424;
    height: 250px;
    width: 600px;
    margin: 4em 24em 4em 24em;
    padding: 4em 2em 2em 2em;    
}
footer{
    background-color: #ffff87;
}
main h2{
    color: navy;

}
button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: navy;
    border: 3px solid skyblue;
}
button:hover {
    background: lightblue;
}