html{ 
    height: 100%;
}

body{
    background-color: #e8bd6f;
    box-sizing: border-box;

}
h1{ background-color: #f44424;
    border: 9px ridge #800206;
    height: 50px;
    width: 800px;

}
nav{
    background-color: #ffff87;
    border: 9px inset #f44424;
    height: 40px;
    width: 600px;

}
main{
}
article img{
    width :100%;
    max-width: 250px;
}
article{
    background-color: #800206;
    box-sizing: border-box;

}
footer{
    background-color: #ffff87;
}
main h2{
    color: navy;

}
.pasta{
    border: 9px ridge #f44424;
    height: 400px;
    width: 350px;

}
.indian{
    border: 9px ridge #f44424;
    height: 400px;
    width: 350px;

}
.tacos{
    border: 9px ridge #f44424;
    height: 400px;
    width: 350px;

}
.burger{
    border: 9px ridge #f44424;
    height: 400px;
    width: 350px;

}